.container {
  background-color: #fff;
  color: #282c34;
  height: 100vh;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 50px);
}

.container main h1 {
  font-size: 1.2rem;
}

.field-group {
  width: 80vw;
  margin: 1rem 0;
}

.container form input[type=text] {
  width: calc(100% - 1.5rem - 2px);
  height: calc(1.75rem + 2px);
  padding: 0.375rem 0.75rem;

  background-color: #fff;
  color: #282c34;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  font-size: 1rem;
}

.container form button {
  font-weight: 400;
  text-align: center;
  border: 1px solid #007bff;
  border-radius: 0.25rem;

  background-color: #007bff;
  color: #fff;

  height: 2.5rem;
  font-size: 0.8rem;

  display: block;
  margin: 15px 0;

  cursor: pointer;
}

.container form button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.container form button:disabled,
.container form button:disabled:hover {
  cursor: default;
  opacity: 0.65;
  background-color: #007bff;
  border-color: #007bff;
}

.container section {
  width: calc(80vw - 1.5rem - 2px);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  min-height: 150px;
  overflow: auto;
}

.container section button {
  word-break: break-all;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 5px 0;
  font: inherit;
  color: #155724;
  min-height: 140px;
  text-align: left;
}

.container footer {
  padding-top: 5px;
  width: 80vw;
  border-top: 1px solid #282c34;
  font-size: 0.8rem;
  display: flex;
  margin: 10px auto 0;
  justify-content: space-between;
}
